<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Errore')"></head>
</head>
<body>
	<nav th:replace="fragments/layout.html :: navbar"></nav>
	<div class="container-for-space">
		<div class="title bottom-bordered centered">Ops! Qualcosa &egrave; andato storto.</div>
		<br>
		<div class="subtitle">
  			Non &egrave; stato possibile processare la tua richiesta. Ricontrolla che tutti i campi necessari siano stati compilati.
  		</div>
  	</div>
	<footer th:replace="fragments/layout.html :: footer"></footer>
	<div>
  	</div>
</body>
</html>