/* Questo file contiene le regole di stile ad uso generale per tutte le pagine del sistema*/

/* REGOLE DI USO COMUNE */

:root {
  --primary-color: #4c6a78;
  --secondary-color: #b2bcbb;
  --background: #f8f8f8;
  --title-style: 'Yanone Kaffeesatz', sans-serif;
  --normal-style: 'Montserrat', sans-serif;
}

* {
	font-family: var(--normal-style);
	color: var(--primary-color);
}

body {
	background-color: var(--background);
	margin: 0;
}

em {
	font-family: inherit;
}

.title {
	font-family: var(--title-style);
	font-size: 4em;
	font-weight: bold;
}

.subtitle {
	font-family: var(--title-style);
	font-size: 3em;
	font-weight: bold;
}

.subsubtitle {
	font-family: var(--title-style);
	font-size: 2em;
	font-weight: bold;
}

.centered {
	text-align: center;
	padding: 0 60px 0 60px;
}

.bottom-border {
	border-bottom: 2px solid var(--primary-color);
	margin-bottom: 2%;
}

.error {
	color: red;
	font-weight: bold;
}

#navbar {
	background-color: var(--secondary-color);
	width: 100%;
	opacity: 0.9;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

#logo {
	border-radius: 50%;
	width: 5rem;
	opacity: 0.8;
}

#logo:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 1;
}

.navbar-element {
	color: var(--background);
	font-size: 2em;
	text-decoration: none;	
}

.navbar-element:hover {
	color: var(--background);
	text-decoration: underline;
	font-style: italic;
}

footer {
	margin-top: 10%;
	background-color: var(--secondary-color);
	
	display: flex;
	justify-content: space-between;
}

.footer-content {
	margin: 2%;
	display: flex;
	flex-direction: column;
}

.two-equal-colums {
	display: flex;
	justify-content: space-around;
}