<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/layout.html :: headerfiles(title='Area amministratore')"></head>
<body>
	<nav th:replace="fragments/layout.html :: navbar"></nav>
	<div class="container-for-space">
		<div class="title bottom-border extremer">
			AREA AMMINISTRATORE
			<a th:href="@{/logout}">
				<button class="square-button">Logout</button>
			</a>
		</div>
		<br>	<!-- FIXME necessario per grafica; ma poi rimuoveremo quando aggiungiamo più operazioni admin -->
		<ul>
			<li><a class="subsubtitle" href="/admin/buffetPage">Area buffet</a></li>
			<li><a class="subsubtitle" href="/admin/chefPage">Area chef</a></li>
			<li><a class="subsubtitle" href="/admin/piattiPage">Area piatti</a></li>
			<li><a class="subsubtitle" href="/admin/ingredientiPage">Area ingredienti</a></li>
		</ul>
	</div>
	<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>