<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<title>Area amministratore</title>
</head>
<body>
	<div>
		<h4>Area amministratore</h4>
		<div>
			<a href="/admin/inserisciBuffetForm">Inserisci un buffet</a>
		</div>
		<div>
			<a href="/admin/eliminaBuffetForm">Elimina buffet</a>
		</div>
		<div>
			<a href="/admin/inserisciChefForm">Inserisci uno chef</a>
		</div>
		<div>
			<a href="/admin/inserisciPiattoForm">Inserisci un piatto</a>
		</div>
		<div>
			<a href="/admin/inserisciIngredienteForm">Inserisci un ingrediente</a>
		</div>
		<div>
			<a th:href="@{/logout}">Logout</a>
		</div>
	</div>
	<footer>
		<a href="/">Torna alla homepage</a>
	</footer>
</body>
</html>