<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/layout.html :: headerfiles(title='Area amministratore')"></head>
<body>
	<nav th:replace="fragments/layout.html :: navbar"></nav>
	<div class="container-for-space">
		<div class="title bottom-border extremer">
			AREA AMMINISTRATORE
			<a th:href="@{/logout}">
				<button class="square-button">Logout</button>
			</a>
		</div>
		<br>	<!-- FIXME necessario per grafica; ma poi rimuoveremo quando aggiungiamo più operazioni admin -->
		<ul>
			<li><a href="/admin/buffetPage">Area buffet</a></li>
			<li><a href="/admin/inserisciBuffetForm">Inserisci un buffet</a></li>
			<li><a href="/admin/eliminaBuffetForm">Elimina buffet</a></li>
			<li><a href="/admin/inserisciChefForm">Inserisci uno chef</a></li>
			<li><a href="/admin/inserisciPiattoForm">Inserisci un piatto</a>
			</li>
			<li><a href="/admin/inserisciIngredienteForm">Inserisci un
					ingrediente</a></li>
		</ul>
	</div>
	<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>