<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Il tuo buffet: ' + ${buffet.nome})"></head>
<body>
	<div >
		<nav th:replace="fragments/layout.html :: navbar"></nav>
		<div class="container-for-space">
			<div class="subtitle bottom-border centered" th:text="'Il tuo buffet: ' + ${buffet.nome}"></div>
			<section th:text="${buffet.descrizione}"></section>	
			<div>
				<span> Chef: </span>
				<a class="fancy-title" th:href="@{'/chef/' + ${buffet.chef.id}}" th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}"></a>
			</div>		
			<div class="centered">
				<div class="side-image-content">
					<div th:each="piatto : ${buffet.piatti}">
						<div>
							<a class="fancy-title" th:href="@{'/piatto/' + ${piatto.id}}" th:text="${piatto.nome}">piatto_nome</a>
						</div>
						<div th:text="${piatto.descrizione}"></div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/layout.html :: footer"></footer>
		<div th:replace="fragments/layout.html :: jsFiles"></div>
	</div>
</body>
</html>