<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<title th:text="'Il tuo buffet: ' + ${buffet.nome}">Il tuo buffet</title>
</head>
<body>
	<div>
		<h4>
			Buffet <span th:text="${buffet.nome}"></span>
		</h4>
		<div>
			<span> Descrizione: </span>
			<span th:text="${buffet.descrizione}"></span>
		</div>
		<div>
			<span> Chef: </span>
			<a th:href="@{'/chef/' + ${buffet.chef.id}}" th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}"></a>
		</div>
		<div>Piatti:</div>
		<ul>
			<li th:each="piatto : ${buffet.piatti}">
				<div>
					<a th:href="@{'/piatto/' + ${piatto.id}}" th:text="${piatto.nome}"></a>
				</div>
				<div th:text="${piatto.descrizione}"></div>
			</li>
		</ul>
	</div>
	<footer>
		<a href="/">Torna alla homepage</a>
	</footer>
</body>
</html>