<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="cercaBuffet.css">
<title>Cerca buffet</title>
</head>
<body>
	<form th:action="@{/buffet/nome}" method="get">
		<h4>Inserisci il nome del buffet che stai cercando:</h4>
		<div>
			<input type="text" name="nome" />
			<div class="error" th:if="${isNomeBlank}" >Il campo non può essere vuoto</div> <!--  FIXME -->
			<div class="error" th:if="${isBuffetInesistente}" th:text="#{buffet.inesistente}"></div>
		</div>
		<br>
		<div>
			<button type="submit">Cerca</button>
		</div>
	</form>
	
	<form th:action="@{/buffet/chef}" method="get">
		<h4>Oppure inserisci il nome e il cognome di uno chef per visualizzare i suoi buffet:</h4>
		<div>
			<input type="text" name="nomeCognome" />
			<div class="error" th:if="${isNomeCognomeBlank}">Il campo non può essere vuoto</div>
			<div class="error" th:if="${isBuffetsInesistenti}" th:text="#{buffet.inesistenti}"></div>
		</div>
		<br>
		<div>
			<button type="submit">Cerca</button>
		</div>
	</form>
	<footer>
		<a href="/">Torna alla homepage</a>
	</footer>
</body>
</html>