<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Il tuo chef: ' + ${chef.nome} + ' ' + ${chef.cognome})"></head>
<body>
	<div >
		<nav th:replace="fragments/layout.html :: navbar"></nav>
		<div class="container-for-space">
			<div class="subtitle bottom-border centered" th:text="'Il tuo chef: ' + ${chef.nome} + ' ' + ${chef.cognome}"></div>
			<section>
				Ecco un elenco completo dei buffet che lo chef 
				<span th:text="${chef.nome} + ' ' + ${chef.cognome} + ' '"></span>
				ha preparato per voi.
			</section>	
			<div class="centered">
				<div class="side-image-content">
					<div th:each="buffet : ${chef.buffets}">
						<div>
							<a class="fancy-title" th:href="@{'/buffet/' + ${buffet.id}}" th:text="${buffet.nome}">buffet_nome</a>
						</div>
						<div th:text="${buffet.descrizione}"></div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/layout.html :: footer"></footer>
		<div th:replace="fragments/layout.html :: jsFiles"></div>
	</div>
</body>
</html>