<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='I nostri chef')"></head>
<body>
	<div >
		<nav th:replace="fragments/layout.html :: navbar"></nav>
		<div class="container-for-space">
			<div class="subtitle bottom-border centered	">I NOSTRI PROFESSIONISTI</div>
			<section>
				Il nostro personale &egrave; formato appositamente per gestire la preparazione di piatti
				elaborati e gustosi in occasione di eventi anche molto affolati. Ci&ograve; che contraddistingue
				ulteriormente i nostri chef &egrave; per&ograve; la loro cultura in ambito agroalimentare e
				culinario, nonch&egrave; la loro esperienza internazionale. Riteniamo che sia la qualit&agrave; 
				delle persone a darci quella marcia in pi&ugrave; che i nostri clienti ci riconoscono.
			</section>			
			<div class="centered">
				<div class="side-image-content">
					<div th:each="chef : ${chefs}">
						<div>
							<a class="fancy-title" th:href="@{'/chef/' + ${chef.id}}" th:text="${chef.nome} + ' ' +${chef.cognome}">chef_nome</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/layout.html :: footer"></footer>
		<div th:replace="fragments/layout.html :: jsFiles"></div>
	</div>
</body>
</html>