<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<title th:text="'Il tuo nuovo ingrediente: ' + ${ingrediente.nome}">Il tuo ingrediente</title>
</head>
<body>
	<h2>Successo!</h2>
	<h4>Ecco un riepilogo dell'ingrediente inserito:</h4>
	<div>
		<div>
			<span> Nome: </span> <span th:text="${ingrediente.nome}"></span>
		</div>
		<div>
			<span> Descrizione: </span>
			<span th:text="${ingrediente.descrizione}"></span>
		</div>
		<div>
			<span> Origine: </span>
			<span th:text="${ingrediente.origine}"></span>
		</div>
		
	</div>
	<footer>
		<a href="/getAmministratorePage">Torna all'area amministratore</a>
		<a href="/">Torna alla homepage</a>
	</footer>
</body>
</html>