<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<title th:text="'Il tuo nuovo piatto: ' + ${piatto.nome}">Il tuo piatto</title>
</head>
<body>
	<h2>Successo!</h2>
	<h4>Ecco un riepilogo del piatto inserito:</h4>
	<div>
		<div>
			<span> Nome: </span> <span th:text="${piatto.nome}"></span>
		</div>
		<div>
			<span> Descrizione: </span>
			<span th:text="${piatto.descrizione}"></span>
		</div>
		<div>
			<span> Ingredienti: </span>
			<ul>
				<li th:each="ingrediente : ${piatto.ingredienti}" th:text="${ingrediente.nome}"></li>
			</ul>
		</div>
		
	</div>
	<footer>
		<a href="admin/getAmministratorePage">Torna all'area amministratore</a>
		<a href="/">Torna alla homepage</a>
	</footer>
</body>
</html>