<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<title>Eliminazione buffet</title>
</head>
<body>
	<h4>Selezione i buffet che vuoi rimuovere:</h4>
	<form th:action="@{/eliminaBuffet}" method="post" th:object="${bean}">
		<div>
			<div th:each="buffet : ${buffets}">
				<input type="checkbox" th:name="'buffet' + ${buffet.id}" th:value="${buffet.id}" th:field="*{buffetIds}" /> <!--  FIXME passa diretto i buffet (il bean avrà una lista di buffet) -->
				<label th:for="'buffet' + ${buffet.id}" th:text="${buffet.nome}"></label>
			</div>
			<div>
				<span th:if="${#fields.hasErrors('buffetIds')}" th:text="#{NotEmpty.eliminaBuffetBean.buffetIds}"></span>	<!--  FIXME non funziona th:errors -->
			</div>
		</div>
		<br>
		<div>
			<button type="submit">Elimina</button>
		</div>
	</form>
</body>
</html>