<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<title>Servizio Catering EXPRESS</title>
</head>
<body>
	<div>
		<h1>Servizio Catering EXPRESS</h1>
		<div>
			<a href="/">home</a>
			<a th:href="@{/buffet/all}">i nostri buffet</a>
			<a th:href="@{/chef/all}">i nostri chef</a>
			<a href="">chi siamo</a>	<!-- FIXME -->
			<a th:href="@{/admin/getAmministratorePage}">area amministratore</a>
		</div>
		<div>
			<h2>Il tuo evento, con gusto!</h2>
			<div>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam molestie non erat eget blandit. Sed euismod vestibulum cursus. Cras dictum felis leo, id cursus enim ornare rutrum. Ut bibendum laoreet ante nec porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus sit amet dui id dolor consequat lacinia.
			</div>
			<img src="images/buffet-1.jpg" width="10%">
		</div>
		<div>
			<h3>Una vasta gamma di scelte</h3>
			<div>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam molestie non erat eget blandit. Sed euismod vestibulum cursus. Cras dictum felis leo, id cursus enim ornare rutrum!
			</div>
			<a th:href="@{/buffet/all}">Visualizza tutti i buffet</a>
		</div>
		<div>
			<h3>Comincia ad esplorare</h3>
			<div>
				Hai già qualcosa in mente, o vorresti provare un buffet di uno chef che ti ha soddisfatto in passato? Prova il nostro strumento di ricerca
				avanzata.
			</div>
			<a th:href="@{/buffet/cerca}">Cerca un buffet</a>
		</div>
	</div>
</body>
</html>