<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Home: Catering Service')"></head>
<body>
	<div id="fake-div">
		<nav th:replace="fragments/layout.html :: navbar"></nav>
		<header id="first-header">
			<div id="header-title" class="title">CATERING DI ECCELLENZA NELLA CITT&Agrave; ETERNA</div>
			<p id="header-text">
				Creativit&agrave;, esperienza, professionalit&agrave; e una straordinaria capacit&agrave; di concretizzare
				le soluzioni pi&ugrave; originali sono gli elementi che ci rendono espressione 
				d'eccellenza nel banqueting e nel catering a Roma.
			</p>
		</header>
		<article id="introduction">
			<div class="centered">
				<div id="article-title" class="title">EDER&EVENT CATERING</div>
				<div class="subtitle">Il tuo evento, con gusto!</div>
			</div>
			<p class="centered">
				Eder&Event Catering aiuta i suoi clienti a organizzare eventi di alta qualit&agrave; da <b>oltre 20 anni</b>. Il nostro team di catering per 
				eventi a Roma ha una chiara comprensione di ci&ograve; che serve per rendere il tuo evento un <b>successo</b>.<br>
				La variet&agrave; di deliziosi piatti di cibo disponibili &egrave; limitata solo alle tue preferenze. I nostri menu ed eventi sono personalizzati 
				in base allo stile e al tipo di evento che desideri ospitare. Con menu disponibili per matrimoni, feste d'ufficio e di Natale, eventi 
				aziendali e molto altro. Contatta il nostro servizio di catering leader a Roma per iniziare.
				<br>Il nostro catering situato a Roma offre soltanto prodotti che rappresentano appieno la qualit&agrave; e la freschezza senza dimenticare 
				di avere sempre <b>un occhio di riguardo verso la sostenibilit&agrave;</b>. <br>
				Ogni evento sia esso piccolo che grande, verr&agrave; realizzato da un'alta cucina che predilige prodotti tipici del Lazio ed 
				alimenti derivanti da aziende 100% italiane. <br>
				Il nostro obiettivo infatti &egrave; anche quello di <b>contribuire ad aiutare le imprese locali </b>scegliendo alimenti a chilometro zero e 
				fornendo dei men&ugrave; davvero variegati a seconda di ogni esigenza.
			</p>
		</article>
		<section class="square">
			<img class="square-picture" src="../images/buffet-5.jpg" width="20%" >
			<div class="square-content">
				<div class="subtitle">Una vasta gamma di scelte</div>
				<div>
					La Eder&Event Catering di Roma dal 1992 realizza favolosi banchetti e ricevimenti in occasione di matrimoni, meeting, eventi e 
					feste private. Grande cura degli allestimenti per i matrimoni e amplia proposta di buffet per ogni tipo di occasione<br><br>
					<a th:href="@{/buffet/all}">
						<button class="square-button">Visualizza i nostri buffet</button>
					</a>
				</div>
			</div>
		</section>
		<section class="square">
			<div class="square-content">
				<div class="subtitle">Comincia ad esplorare</div>
				<div>
					Hai gi&agrave; qualcosa in mente, o vorresti provare un buffet di
					uno chef che ti ha soddisfatto in passato? Prova il nostro strumento
					di ricerca avanzata.<br><br>
					<a th:href="@{/buffet/cerca}">
						<button class="square-button">Cerca un buffet</button>
					</a>
				</div>
			</div>
			<img class="square-picture" src="../images/chef-1.jpg" width="20%">
		</section>
		
		<footer th:replace="fragments/layout.html :: footer"></footer>
		<div th:replace="fragments/layout.html :: jsFiles"></div>
	</div>
</body>
</html>