<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/layout.html :: headerfiles(title='Chi siamo')"></head>
<body>
	<div>
		<nav th:replace="fragments/layout.html :: navbar"></nav>
		<div class="container-for-space">
			<div class="subtitle bottom-border centered">EDER&EVENT -
				CATERING E BANQUETING D'ECCELLENZA DA OLTRE 20 ANNI</div>
			<section>
				<p>
					<em>Da oltre vent'anni</em><strong> Eder&Event </strong> opera nel
					campo della Ristorazione e dell'Organizzazione dei <strong>Servizi
						di Catering e Banqueting</strong> nel rispetto dei valori della qualit&agrave; e
					della tradizione di gusto e sapori, con il passo innovativo e
					creativo della modernit&agrave;.
				</p>
				<p>
					<em>Si dice che un'impresa senza storia &egrave; come un albero senza
						radici.</em> <br />
					<strong>Eder&Event</strong> &egrave; la storia di un'"impresa di
					famiglia". &Egrave; cos&igrave; infatti che la <strong>Famiglia Rossi</strong> -
					dando forma, continuit&agrave; e forza alle proprie radici - ha saputo
					evolvere, lasciar crescere e innovare il proprio percorso
					professionale nel campo dell'<strong>Organizzazione dei
						Servizi di Banqueting e Servizi di Catering</strong>, nel rispetto dei
					valori della qualit&agrave;, della dedizione al cliente e della cura per i
					dettagli.
				</p>
				<p>
					<strong>Eder&Event</strong> &egrave; un'"impresa di famiglia" che include
					tradizione e modernit&agrave;.
				</p>
				<p>
					Con le radici che affondano nella terra e i rami che si protendono
					verso il cielo, l'albero di <strong>Eder&Event</strong> ha oggi
					radici forti, continua a crescere robusto e diventa - giorno dopo
					giorno - <em>l'espressione di un presente, passato e futuro
						che si fondono in un'unica grande rappresentazione di conoscenza,
						energia, equilibrio e perfezione,</em> che si riflette in ogni
					piccolo/grande evento realizzato e che evidenza sempre - attraverso
					la cura di un concept e di uno stile creativo unico formatosi in
					oltre 20 anni di esperienza - il successo di un'iniziativa.
				</p>
				<p>
					<strong>Eder&Event</strong> - ora che l'"impresa di famiglia" ha
					superato il difficile "passaggio generazionale" - prosegue
					nell'attivit&agrave; di <strong>Catering</strong> e nell'<strong>Organizzazione
						dei Servizi di Banqueting</strong>, rispettando "valori etici" che da
					sempre la contraddistinguono quali dedizione al lavoro, cura dei
					dettagli e rispetto per la clientela, che passano attraverso
					un'attenta selezione professionale del personale, la scelta di
					prodotti di qualit&agrave; superiore, la capacit&agrave; di offrire "concept" e
					soluzioni sempre d'eccellenza e innovativi e uno staff di cucina
					altamente qualificato.
				</p>
			</section>
			<br/>
			<div class="subsubtitle">Contatti e come raggiungerci</div>
			<section class="two-equal-colums">
				<div>
					<p>
						Per le informazioni generali su come contattarci, puoi vedere <b>in fondo alla pagina</b>.
					</p>
					<p>
						&Egrave; possibile recarsi nella nostra sede per incontrare il personale e richiedere i nostri servizi. <br/>
						Siamo aperti dal marted&igrave; alla domenica solo su appuntamento: dalle 9:00 alle 13:00 e dalle 15:00 alle 20.00.<br/>
						<em>LUNED&Igrave; I nostri uffici sono chiusi al pubblico, ma il servizio catering e banqueting &egrave; sempre attivo tramite email.</em>
					</p>
					<p>
						A sinistra &egrave; possibile consultare <b>la mappa</b> che indica posizione della nostra sede amministrativa.
					</p>
				</div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11886.609845740113!2d12.46852407881088!3d41.85730674019853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258a9240b893d9%3A0x8b6578a5a17ee26a!2sUniversit%C3%A0%20degli%20Studi%20Roma%20Tre%20-%20Ingegneria!5e0!3m2!1sen!2sit!4v1655206423956!5m2!1sen!2sit" 
						width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
				</iframe>
			</section>

		</div>
		<footer th:replace="fragments/layout.html :: footer"></footer>
		<div th:replace="fragments/layout.html :: jsFiles"></div>
	</div>
</body>
</html>