<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
 <link rel="stylesheet" href="inserisciBuffetForm.css">
<meta name="viewport" content="width=device-width">
<title>Inserimento buffet</title>
</head>
<body>
	<h4>Inserisci i dati del buffet che vuoi aggiungere:</h4>
	<form th:action="@{/admin/inserisciBuffet}" method="post" th:object="${buffet}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore globale</p>
		</div>
		<div>
			<label>Nome: </label> <input type="text" th:field="*{nome}" />
			<div>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
		</div>
		<br>
		<div>
			<label>Descrizione: </label> <input type="text" th:field="*{descrizione}" />
			<div>
				<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			</div>
			<!-- prova con textarea -->
		</div>
		<br>
		<div>
			<label>Chef disponibili: </label>
			<div>
				<span th:if="${#fields.hasErrors('chef')}" th:errors="*{chef}"></span>
			</div>
			<div th:each="chef : ${allChefs}">
				<input type="radio" th:name="'chef' + ${chef.id}" th:value="${chef.id}" th:field="*{chef}" /> 
				<label th:for="'chef' + ${chef.id}" th:text="${chef.nome} + ' ' + ${chef.cognome}"></label>
			</div>
			<label> Se vuoi aggiungere uno chef non presente nell'elenco, puoi aggiungerlo <a href="/inserisciChefForm">qui</a>.</label>
		</div>
		<br>
		<div>
			<label>Piatti disponibili: </label>
			<div>
				<span th:if="${#fields.hasErrors('piatti')}" th:errors="*{piatti}"></span>
			</div>
			<div th:each="piatto : ${allPiatti}">
				<input type="checkbox" th:name="'piatto' + ${piatto.id}"
					th:value="${piatto.id}" th:field="*{piatti}" /> <label
					th:for="'piatto' + ${piatto.id}"
					th:text="${piatto.nome}"></label>
			</div>
			<label> Se vuoi aggiungere un piatto non presente nell'elenco, puoi aggiungerlo <a href="/inserisciPiattoForm">qui</a>.</label>
		</div>
		<br>
		<div>
			<button type="submit">Inserisci</button>
		</div>
	</form>
</body>
</html>