<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/layout.html :: headerfiles(title='Inserisci buffet')"></head>
<body>
	<nav th:replace="fragments/layout.html :: navbar"></nav>
	<div class="container-for-space">
		<div class="subtitle bottom-border">Inserisci i dati del buffet che vuoi aggiungere:</div>
		
		<form class="form-content" th:action="@{/admin/inserisciBuffet}" method="post" th:object="${buffet}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore globale</p>
			</div>
			<b>Nome: <span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span></b> 
			<input type="text" th:field="*{nome}" />
			<br>
				<b>Descrizione: <span class="error" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span></b> 
				<input type="text" th:field="*{descrizione}" />
			<br>
			
			<label id="chef-select">
				<b>Chef disponibili: <span class="error" th:if="${#fields.hasErrors('chef')}" th:errors="*{chef}"></span></b>
			</label>
			<select id="chef-select" name="chef">
				<option th:each="chef : ${allChefs}" th:name="'chef' + ${chef.id}" 
					th:value="${chef.id}" th:field="*{chef}" th:text="${chef.nome} + ' ' + ${chef.cognome}"> 
				</option>
			</select>
			<div> 
				Se vuoi aggiungere uno chef non presente nell'elenco, puoi aggiungerlo <a href="/inserisciChefForm">qui</a>.
			</div>
			<br>
			
			<div>
				<b>Piatti disponibili: <span class="error" th:if="${#fields.hasErrors('piatti')}" th:errors="*{piatti}"></span></b>
				<div th:each="piatto : ${allPiatti}">
					<input type="checkbox" th:name="'piatto' + ${piatto.id}"
						th:value="${piatto.id}" th:field="*{piatti}" /> <label
						th:for="'piatto' + ${piatto.id}" th:text="${piatto.nome}"></label>
				</div>
				<label> Se vuoi aggiungere un piatto non presente
					nell'elenco, puoi aggiungerlo <a href="/inserisciPiattoForm">qui</a>.
				</label>
			</div>
			<br>
			
			<div>
				<button class="square-button" type="submit">Inserisci</button>
			</div>
		</form>
	</div>
		<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>