<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/layout.html :: headerfiles(title='Inserisci buffet')"></head>
<body>
	<nav th:replace="fragments/layout.html :: navbar"></nav>
	<div class="container-for-space">
		<div class="subtitle bottom-border">Inserisci i dati del buffet che vuoi aggiungere:</div>
		
		<form class="form-content" th:action="@{/admin/inserisciPiatto}" method="post" th:object="${piatto}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore globale</p>
			</div>
			<b>Nome: </b> <span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			<input type="text" th:field="*{nome}" />
			<br/>
			
			<b>Descrizione: </b> <span class="error" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span> 
			<input type="text" th:field="*{descrizione}" />
			<br/>
			
			<div>
				<b>Ingredienti disponibili: </b> <span class="error" th:if="${#fields.hasErrors('ingredienti')}" th:errors="*{ingredienti}"></span>
				<div th:each="ingrediente : ${allIngredienti}">
					<input type="checkbox" th:name="'ingrediente' + ${ingrediente.id}" th:value="${ingrediente.id}" th:field="*{ingredienti}" /> 
					<label th:for="'ingrediente' + ${ingrediente.id}" th:text="${ingrediente.nome}"></label>
				</div>
				<label> Se vuoi aggiungere un ingrediente non presente
					nell'elenco, puoi aggiungerlo <a href="/inserisciIngredienteForm">qui</a>.
				</label>
			</div>
			<br>
			<div>
				<button class="square-button" type="submit">Inserisci</button>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>