<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Login')"></head>
<body>
	<nav th:replace="fragments/layout.html :: navbar"></nav>
	<div class="container-for-space">
		<div class="title bottom-border">LOGIN</div>
		<div class="subtitle"> Autenticati come amministratore per procedere all'area riservata.</div>
		<form th:action="@{/login}" method="POST">
			<div class="form-content">
				Username: <input name="username" type="text" placeholder="inserisci username qui..."/>
				<br/>
				Password: <input name="password" type="password" placeholder="inserisci password qui..."/>
			</div>
			<br/>
			<div>
				<button class="square-button" type="submit">Login</button>
			</div>
		</form>
		<br/>
		<div class="error" th:if="${error}" th:text="#{login.error}">errore autenticazione</div>
		<br>
		<div> Non hai un account?
			<a th:href="@{/register}">Registrati</a>.	
		</div>
	</div>
	<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>