<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Login')"></head>
<body>
	<nav th:replace="fragments/layout.html :: navbar"></nav>
	<div class="container-for-space">
		<div class="title bottom-border">LOGIN</div>
		<div class="subtitle"> Autenticati come amministratore per procedere all'area riservata.</div>
		<form class="form-container" th:action="@{/login}" method="POST">
			<div>
				<div>Username:</div>
				<br/>
				<div>Password:</div>
			</div>		
			<div>
				<div><input name="username" type="text" /></div>
				<br/>
				<div><input name="password" type="password" /></div>
			</div>
			<div>
				<button class="square-button" type="submit">Login</button>
			</div>
		</form>
		<div> Non hai un account?
			<a th:href="@{/register}">Registrati</a>.	
		</div>
	</div>
	<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>