<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Il tuo piatto')"></head>
<body>
	<div >
		<nav th:replace="fragments/layout.html :: navbar"></nav>
		<div class="container-for-space">
			<div class="subtitle bottom-border centered" th:text="'Il tuo piatto: ' + ${piatto.nome}"></div>
			<section>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non justo odio.
				Nulla aliquam eleifend varius.
			</section>	
			<div class="centered">
				<div class="side-image-content">
					<div th:each="ingrediente : ${piatto.ingredienti}">
						<div>
							<div class="fancy-title" th:text="${ingrediente.nome}">ingrediente_nome</div>
						</div>
						<div th:text="'Descrizione: ' + ${ingrediente.descrizione}"></div>
						<div th:text="'Origine: ' + ${ingrediente.origine}"></div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/layout.html :: footer"></footer>
		<div th:replace="fragments/layout.html :: jsFiles"></div>
	</div>
</body>
</html>